body{
    /* background-color: black; */
    font-family: 'Georama', sans-serif;
   
    
    
     
}
h1{
    text-align: center;
    color:#1A312B;
    margin-bottom: 0px;
}
main{
    height: 95vh;
    width: 100%;
    background-image: url("../assets/images/fondoregistro.jpg");
    background-repeat: no-repeat;
   
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center ;    
}

/* Barra de navegación */

.menu{
    top:0px;
    margin-top: 0px;
    margin-bottom: 3px;
    padding: 3px 3px;
    /* border: 1px solid pink; */
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    background-color: #1A312B;
}

.logo{
    /* border: 1px solid green; */
    width: 190px;
    height: 36px;
    margin-left: 17px;
}

.nav-list{
    /* border: 1px solid blue; */
    width: 250px;
    display:flex;
    font-family: 'Roboto', sans-serif;  
    font-weight: 200;
    font-size: 15px;

}

.item-list{
    /* border: 1px solid purple; */
    list-style: none;
    margin: 0px 8px 0px 8px;
   
}

a{
    text-decoration: none; 
    color:white;
}
div#root {
    
    margin: 100px 0 0 50px;
    width: 534px;
    background-color: white;
    padding-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 100px 0 100px 50px;
    padding-bottom: 10px;
    
}
form.main{
    
    padding: 5px 10px 10px 20px;
}
#questions{
    display: none;
    margin-bottom: 15px;
}


footer{
    display:flex;
    justify-content: center;
    position:fixed;    
    width: 100%;
    color:white;
    height: 50px;
    bottom: 0px;
    font-family: 'Roboto', sans-serif;  
    font-weight: 200;
    font-size: 15px;
    background-color: #1A312B;
}
/* boton enviar*/
.button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #f18238;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  .button-5:hover,
  .button-5:focus {
    background-color: #C85000;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  .button-5:hover {
    transform: translateY(-1px);
  }
  .button-5:active {
    background-color: #C85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }