body{
    border: 1px solid red;
    background-color: indigo;
    
}

/* Barra de navegación */
.menu{
    border: 1px solid pink;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    border: 1px solid green;
    width: 190px;
    height: 36px;
    margin-left: 17px;
}

.nav-list{
    border: 1px solid blue;
    width: 250px;
    display:flex;

}

.item-list{
    border: 1px solid purple;
    list-style: none;
    margin: 0px 8px 0px 8px;
}

